html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 25%;
  color: #2F3242;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eaeded;
}

header {
  height: 50px;
}

.content {
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  cursor: default;
  user-select: none;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background-color: #2F3242;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background-color: #2F3242;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.menu-icon {
  width: 100%;
  background: #2F3242;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 40px;
  color: #fff;
  display: none;
}

label[for="bt_menu"] {
  padding: 5px;
  background-color: #2F3242;
  ;
  color: #fff;
  font-family: "Arial";
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#bt_menu {
  display: none;
}

label[for="bt_menu"] {
  display: none;
}

@media(max-width:920px) {

  label[for="bt_menu"] {
    display: block;
  }

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav {
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
  }

  #bt_menu:checked ~ nav {
    margin-left: 0;
  }

  nav.black ul {
    background: #2F3242;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }
}




/* IMAGEM */

#circle {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 100%;
  background: url(../img/cover.jpg) center no-repeat;
}

.inline-block {
  width: 40%;
  padding: 20px;
  display: inline-block;
  color: #2F3242;
  font-size: 24px;
}

.inline-block p {
  font-size: 18px;
}

.conteiner {
  text-align: center;
}

#hello {
  font-size: 15px;
  color: white;
  text-decoration: none;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #2F3242;
  color: #f7f9f9;
  height: 92px;
  padding-left: 5%;
}


.json-text {
  width: 80%;
  height: 340px;
  resize: none;
  cursor: default;
  font-size: 18px;
}

.bloco {
  padding-left: 15%;
}

.busca {
  /* border: 1px solid black; */
  width: 81%;
  /* background-color: #d0d3d4; */
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(90deg, #d0d3d4 50%, #f7f9f9 50%);
}


.busca .site {
  color: #4d5656;
  background-color: #d0d3d4;
  font-size: 19px;
  padding: 10px;
}

.busca .form-control {
  height: 36px;
  padding: 6px;
  width: 61.57%;
  padding-bottom: 9.7px;
  padding-top: 8px;
  font-size: 19px;
}

.button {
  background-color: #2F3242;
  ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.request-button {
  background-color: #2F3242;
  ;
  border: none;
  color: white;
  padding: 18px 30.2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}